.M {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s linear
}

.N {
    opacity: 1
}

.a {
    position: fixed;
    z-index: 20;
    bottom: 24px;
    left: 50%;
    display: flex;
    gap: 8px;
    transform: translateX(-50%)
}

@media(max-width: 760px) {
    .a {
        right:16px;
        bottom: 56px;
        left: 16px;
        justify-content: space-between;
        transform: none
    }
}

.ba {
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    transition: opacity .2s
}

.ba.bb {
    opacity: .3
}

.b {
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(53,53,53,.4);
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    pointer-events: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 10;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    border-radius: 2px;
    color: #fff;
    font-family: var(--font-basic);
    font-size: 16px;
    gap: 4px;
    transition: .4s;
    transition-property: background-color,color,border-color;
    white-space: nowrap
}

@media(max-width: 760px) {
    .b {
        height:32px
    }
}

.b[disabled] {
    color: hsla(0,0%,100%,.3);
    pointer-events: none
}

@media(hover: hover)and (pointer:fine) {
    .b:hover {
        background-color:hsla(0,0%,45%,.4)
    }
}

.c {
    margin-top: -2px
}

@media(max-width: 760px) {
    .c {
        display:none
    }
}

.e {
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(53,53,53,.4);
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    pointer-events: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 10;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    border-radius: 2px;
    color: #fff;
    font-family: var(--font-basic);
    font-size: 16px;
    gap: 4px;
    transition: .4s;
    transition-property: background-color,color,border-color;
    white-space: nowrap
}

@media(max-width: 760px) {
    .e {
        height:32px
    }
}

.e[disabled] {
    color: hsla(0,0%,100%,.3);
    pointer-events: none
}

@media(hover: hover)and (pointer:fine) {
    .e:hover {
        background-color:hsla(0,0%,45%,.4)
    }
}

.f {
    margin-top: -2px
}

@media(max-width: 760px) {
    .f {
        display:none
    }
}

.g {
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(53,53,53,.4);
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    pointer-events: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 10;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    border-radius: 2px;
    color: #fff;
    font-family: var(--font-basic);
    font-size: 16px;
    gap: 4px;
    transition: .4s;
    transition-property: background-color,color,border-color;
    white-space: nowrap
}

@media(max-width: 760px) {
    .g {
        height:32px
    }
}

.g[disabled] {
    color: hsla(0,0%,100%,.3);
    pointer-events: none
}

@media(hover: hover)and (pointer:fine) {
    .g:hover {
        background-color:hsla(0,0%,45%,.4)
    }
}

.ca {
    position: relative;
    width: 280px
}

@media(max-width: 760px) {
    .ca {
        flex-basis:100%;
        flex-shrink: 1
    }
}

.cb {
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(53,53,53,.4);
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    pointer-events: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 10;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    border-radius: 2px;
    font-family: var(--font-basic);
    font-size: 16px;
    gap: 4px;
    transition: .4s;
    transition-property: background-color,color,border-color;
    white-space: nowrap;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: #fff;
    text-transform: capitalize
}

@media(max-width: 760px) {
    .cb {
        height:32px
    }
}

.cb[disabled] {
    color: hsla(0,0%,100%,.3);
    pointer-events: none
}

@media(hover: hover)and (pointer:fine) {
    .cb:hover {
        background-color:hsla(0,0%,45%,.4)
    }
}

.cc {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.ce {
    bottom: 2px;
    left: 12px;
    display: flex;
    width: calc(100% - 40px);
    align-items: center;
    -webkit-mask-image: linear-gradient(90deg,#000,#000 calc(100% - 40px),transparent);
    mask-image: linear-gradient(90deg,#000,#000 calc(100% - 40px),transparent)
}

.ce,.cf {
    position: absolute;
    top: 0
}

.cf {
    right: 0;
    width: 40px;
    height: 100%;
    background: url(/icons/down.svg) no-repeat 50%
}

[aria-expanded=true] .cf {
    transform: rotate(180deg)
}

.cb[disabled] .cf {
    opacity: .3
}

.cg {
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(53,53,53,.4);
    margin: 0;
    list-style: none;
    font-feature-settings: "ss02" on;
    font-size: 14px;
    line-height: 18px;
    scrollbar-color: hsla(0,0%,100%,.15) transparent;
    position: absolute;
    bottom: calc(100% + 10px);
    width: 100%;
    max-height: 70vh;
    flex-direction: column;
    padding: 4px 0;
    border: 1px solid hsla(0,0%,100%,.1);
    border-radius: 2px;
    outline: none;
    overflow-y: auto
}

.cg::-webkit-scrollbar {
    width: 10px
}

.cg::-webkit-scrollbar-track {
    background: transparent
}

.cg::-webkit-scrollbar-thumb {
    border: 1px solid hsla(0,0%,100%,.1);
    border-radius: 6px;
    background-color: hsla(0,0%,100%,.15);
    -webkit-transition: background .2s;
    transition: background .2s
}

.cg::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0,0%,100%,.25)
}

.ch {
    padding: 3px 8px;
    cursor: pointer;
    text-transform: capitalize;
    transition: .2s;
    transition-property: background-color
}

@media(max-width: 760px) {
    .ch {
        display:flex;
        min-height: 32px;
        align-items: center
    }
}

.ci {
    background: hsla(0,0%,100%,.15)
}

.F {
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(53,53,53,.4);
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    pointer-events: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 10;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    color: #fff;
    font-family: var(--font-basic);
    font-size: 16px;
    gap: 4px;
    transition: .4s;
    transition-property: background-color,color,border-color;
    white-space: nowrap;
    flex-shrink: 0;
    padding: 0 10px
}

@media(max-width: 760px) {
    .F {
        height:32px
    }
}

.F[disabled] {
    color: hsla(0,0%,100%,.3);
    pointer-events: none
}

@media(hover: hover)and (pointer:fine) {
    .F:hover {
        background-color:hsla(0,0%,45%,.4)
    }
}

@media(max-width: 760px) {
    .G {
        display:none
    }
}

.H {
    color: hsla(0,0%,100%,.3)
}

.I,.I:hover {
    background: #fff;
    color: #000
}

.h {
    position: fixed;
    z-index: 30;
    bottom: 24px;
    left: 24px;
    overflow: hidden;
    width: 162px;
    height: 40px
}

@media(max-width: 1050px) {
    .h {
        display:none
    }
}

.i {
    width: 50px;
    height: 40px;
    border-radius: 2px;
    margin: 0 auto;
    background: hsla(0,0%,100%,.2);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.j {
    position: absolute;
    top: calc(50% - 10px);
    left: 50%;
    gap: 8px;
    pointer-events: none;
    transition: transform .2s cubic-bezier(.4,0,.2,1)
}

.j,.k {
    display: flex
}

.k {
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: relative;
    width: 16px;
    height: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
    border: 1px solid hsla(0,0%,100%,.2);
    border-radius: 2px;
    background: rgba(53,53,53,.4);
    color: transparent;
    font-size: 10px;
    pointer-events: auto;
    transform: translateX(-50%);
    transition: .2s;
    transition-property: opacity,border,background,color;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.h.l .k {
    pointer-events: none
}

.k:hover,.m {
    border: 1px solid #fff
}

.m {
    color: hsla(0,0%,100%,.5)
}

.k:hover {
    background: hsla(0,0%,45%,.4)
}

.n,.n:hover {
    border: transparent;
    border-radius: 0;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background: hsla(0,0%,100%,.1)
}

.o {
    opacity: 0;
    visibility: hidden
}

.bG,.bH {
    color: hsla(0,0%,100%,.4)
}

.bH {
    animation: bI 2s steps(1) infinite
}

@keyframes bI {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.bg {
    background-image: linear-gradient(90deg,#222 0,#333 50%,transparent 0,transparent);
    background-position-x: 0;
    background-size: 200%;
    -webkit-clip-path: inset(.15em 0 0 0);
    clip-path: inset(.15em 0 0 0)
}

.bg,.bh {
    color: #fff
}

.bh {
    animation: bh .25s ease-in forwards
}

.bi {
    animation: bi .3s ease-out forwards
}

@keyframes bh {
    0% {
        background-position-x: 0;
        color: #fff
    }

    to {
        background-position-x: -100%;
        color: #fff
    }
}

@keyframes bi {
    0% {
        background-position-x: 99%;
        color: #fff
    }

    to {
        background-position-x: 0;
        color: #fff
    }
}

.bs {
    display: contents
}

.bt,.bu {
    text-wrap: balance
}

.bt a,.bu a {
    position: relative;
    z-index: 1;
    cursor: pointer;
    text-decoration: none
}

.bt.bv a,.bu.bv a {
    background-image: linear-gradient(90deg,#222 0,#333 50%,transparent 0,transparent);
    background-position-x: 0;
    background-size: 200%;
    -webkit-clip-path: inset(.15em 0 0 0);
    clip-path: inset(.15em 0 0 0);
    color: #fff
}

@media(hover: hover)and (pointer:fine) {
    .bt.bv a:hover,.bu.bv a:hover {
        background-position:0 0;
        color: #fff
    }
}

@media(max-width: 800px) {
    .bt.bw a,.bu.bw a {
        background-image:linear-gradient(90deg,#222 0,#333 50%,transparent 0,transparent);
        background-position-x: 0;
        background-size: 200%;
        -webkit-clip-path: inset(.15em 0 0 0);
        clip-path: inset(.15em 0 0 0);
        color: #fff
    }
}

@media(max-width: 800px)and (hover:hover)and (pointer:fine) {
    .bt.bw a:hover,.bu.bw a:hover {
        background-position:0 0;
        color: #fff
    }
}

.bx {
    display: inline-block;
    opacity: 0;
    transition: .5s;
    transition-property: opacity,transform;
    white-space: nowrap
}

html[lang=tr] .bx {
    display: inline;
    white-space: normal
}

.bv .bx {
    opacity: 1
}

.by {
    display: inline-block;
    opacity: 0;
    transition: .5s;
    transition-property: opacity,transform
}

.bv .by {
    opacity: 1
}

.bz {
    opacity: 0;
    transition: .5s;
    transition-property: opacity
}

.bA.bv .bz {
    opacity: 1
}

@media(max-width: 800px) {
    .bA.bw .bz {
        opacity:1
    }
}

.bB {
    perspective: 1000px
}

.bC:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ""
}

.bE {
    min-width: 100%
}

.bE,.bF {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0;
    transform: translateZ(-500px) rotateY(45deg);
    transform-origin: center;
    transition: .5s;
    transition-property: opacity,transform;
}

.bB.bv .bE,.bB.bv .bF {
    opacity: 1;
    transform: translateZ(0) rotateY(0deg);
    transition-delay: .3s
}

@media(max-width: 800px) {
    .bB.bw .bE,.bB.bw .bF {
        opacity:1;
        transform: translateZ(0) rotateY(0deg);
        transition-delay: .3s
    }
}

.bB:not(.bv) .bE,.bB:not(.bv) .bF {
    transition-delay: 0s!important
}

.bj:first-child {
    margin-top: 0
}

.bj:last-child {
    margin-bottom: 0
}

.bk {
    font-family: var(--font-super);
    font-feature-settings: "ss02" on;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 1;
    margin-top: 8px;
    margin-bottom: 32px;
    text-wrap: balance
}

@media only screen and (max-width: 600px) {
    .bk {
        font-size:38px;
        line-height: 1
    }
}

@media only screen and (min-width: 601px)and (max-width:1024px) {
    .bk {
        font-size:8vw
    }
}

@media only screen and (min-width: 1025px) {
    .bk {
        font-size:4vw
    }
}

@media only screen and (min-width: 1441px) {
    .bk {
        font-size:4vw
    }
}

.bl {
    font-feature-settings: "ss01" on;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 1.1;
    margin: 32px 0;
    text-wrap: balance
}

@media only screen and (max-width: 600px) {
    .bl {
        font-size:24px
    }
}

@media only screen and (min-width: 601px)and (max-width:1024px) {
    .bl {
        font-size:24px
    }
}

@media only screen and (min-width: 1025px) {
    .bl {
        font-size:28px
    }
}

@media only screen and (min-width: 1441px) {
    .bl {
        font-size:34px
    }
}

.bl:first-child {
    margin-top: -.2em
}

.bl:last-child {
    margin-bottom: 0
}

.bm {
    font-size: 18px;
    line-height: 24px;
    text-wrap: balance
}

.bm,.bn {
    font-weight: 400;
    margin: 16px 0
}

.bn {
    font-size: 13px;
    font-style: normal;
    line-height: 16px
}

.bo {
    color: hsla(0,0%,100%,.5);
    font-family: sans-serif;
    font-weight: 400
}

.bp {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .35em .5em .25em;
    margin-top: 32px;
    font-size: 34px;
    gap: .5em;
    text-decoration: none
}

@media(max-width: 760px) {
    .bp {
        font-size:24px
    }
}

.bp path {
    fill: currentcolor
}

.bq {
    margin: 0
}

.bq,.br {
    padding: 0
}

.br {
    margin: .62em 0;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.1;
    list-style: none
}

.r,.s,.t,.u,.v,.w,.x,.y {
    display: grid;
    grid-gap: 24px;
    gap: 24px;
    grid-template-columns: repeat(var(--grid-cols),minmax(0,1fr))
}

.r {
    --grid-cols: auto-fit
}

.r+.r {
    margin: 48px 0
}

.s {
    --grid-cols: 2
}

@media(max-width: 760px) {
    .s {
        --grid-cols:1;
        column-gap: 0
    }
}

.t {
    --grid-cols: 2
}

@media(max-width: 760px) {
    .t {
        --grid-cols:2
    }
}

.u {
    --grid-cols: 3
}

@media(max-width: 760px) {
    .u {
        --grid-cols:1;
        column-gap: 0
    }
}

.v {
    --grid-cols: 3
}

@media(max-width: 760px) {
    .v {
        --grid-cols:2
    }
}

.w {
    --grid-cols: 4
}

@media(max-width: 760px) {
    .w {
        --grid-cols:2
    }
}

.x {
    --grid-cols: 5
}

.y {
    --grid-cols: 6
}

.z {
    grid-column: span 2
}

.A {
    grid-column: span 3
}

.B {
    grid-column: span 4
}

.C {
    grid-column: span 5
}

@media(max-width: 760px) {
    .E {
        grid-column:1/-1
    }
}

.p {
    animation: q 9s ease-in-out forwards;
    animation-iteration-count: 1;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000
}

@keyframes q {
    0% {
        stroke-dashoffset: 1000
    }

    to {
        stroke-dashoffset: 0
    }
}

.O {
    z-index: 101;
    top: 50%;
    left: 50%
}

.O,.P {
    position: absolute
}

.P {
    left: -1px;
    width: 1px;
    height: 100px;
    background-color: hsla(0,0%,100%,.5);
    transform-origin: 50% 0
}

.Q {
    animation: R 1s ease-in-out infinite;
    transform: rotate(0deg)
}

@keyframes R {
    0% {
        transform: rotate(0deg) scaleY(1.5890657766)
    }

    33% {
        transform: rotate(0deg) scaleY(1.8167954842)
    }

    66% {
        transform: rotate(0deg) scaleY(1.4604368443)
    }

    to {
        transform: rotate(0deg) scaleY(1.5890657766)
    }
}

.S {
    animation: T 1s ease-in-out infinite;
    transform: rotate(20deg)
}

@keyframes T {
    0% {
        transform: rotate(20deg) scaleY(1.3503190386)
    }

    33% {
        transform: rotate(20deg) scaleY(1.8056017851)
    }

    66% {
        transform: rotate(20deg) scaleY(1.6576959918)
    }

    to {
        transform: rotate(20deg) scaleY(1.3503190386)
    }
}

.U {
    animation: V 1s ease-in-out infinite;
    transform: rotate(40deg)
}

@keyframes V {
    0% {
        transform: rotate(40deg) scaleY(1.021770805)
    }

    33% {
        transform: rotate(40deg) scaleY(1.8838339567)
    }

    66% {
        transform: rotate(40deg) scaleY(1.2963728953)
    }

    to {
        transform: rotate(40deg) scaleY(1.021770805)
    }
}

.W {
    animation: X 1s ease-in-out infinite;
    transform: rotate(60deg)
}

@keyframes X {
    0% {
        transform: rotate(60deg) scaleY(1.1948251777)
    }

    33% {
        transform: rotate(60deg) scaleY(1.1147816934)
    }

    66% {
        transform: rotate(60deg) scaleY(1.718457652)
    }

    to {
        transform: rotate(60deg) scaleY(1.1948251777)
    }
}

.Y {
    animation: Z 1s ease-in-out infinite;
    transform: rotate(80deg)
}

@keyframes Z {
    0% {
        transform: rotate(80deg) scaleY(1.6877746542)
    }

    33% {
        transform: rotate(80deg) scaleY(1.9588299217)
    }

    66% {
        transform: rotate(80deg) scaleY(1.8123078992)
    }

    to {
        transform: rotate(80deg) scaleY(1.6877746542)
    }
}

.aa {
    animation: ab 1s ease-in-out infinite;
    transform: rotate(100deg)
}

@keyframes ab {
    0% {
        transform: rotate(100deg) scaleY(1.2921845666)
    }

    33% {
        transform: rotate(100deg) scaleY(1.7188584573)
    }

    66% {
        transform: rotate(100deg) scaleY(1.2056893098)
    }

    to {
        transform: rotate(100deg) scaleY(1.2921845666)
    }
}

.ac {
    animation: ae 1s ease-in-out infinite;
    transform: rotate(120deg)
}

@keyframes ae {
    0% {
        transform: rotate(120deg) scaleY(1.5187325221)
    }

    33% {
        transform: rotate(120deg) scaleY(1.2048234221)
    }

    66% {
        transform: rotate(120deg) scaleY(1.9895520866)
    }

    to {
        transform: rotate(120deg) scaleY(1.5187325221)
    }
}

.af {
    animation: ag 1s ease-in-out infinite;
    transform: rotate(140deg)
}

@keyframes ag {
    0% {
        transform: rotate(140deg) scaleY(1.3163712559)
    }

    33% {
        transform: rotate(140deg) scaleY(1.459545034)
    }

    66% {
        transform: rotate(140deg) scaleY(1.4790145606)
    }

    to {
        transform: rotate(140deg) scaleY(1.3163712559)
    }
}

.ah {
    animation: ai 1s ease-in-out infinite;
    transform: rotate(160deg)
}

@keyframes ai {
    0% {
        transform: rotate(160deg) scaleY(1.3009826286)
    }

    33% {
        transform: rotate(160deg) scaleY(1.2962424753)
    }

    66% {
        transform: rotate(160deg) scaleY(1.9702640766)
    }

    to {
        transform: rotate(160deg) scaleY(1.3009826286)
    }
}

.aj {
    animation: ak 1s ease-in-out infinite;
    transform: rotate(180deg)
}

@keyframes ak {
    0% {
        transform: rotate(180deg) scaleY(1.3593690121)
    }

    33% {
        transform: rotate(180deg) scaleY(1.3174949341)
    }

    66% {
        transform: rotate(180deg) scaleY(1.3014225101)
    }

    to {
        transform: rotate(180deg) scaleY(1.3593690121)
    }
}

.al {
    animation: am 1s ease-in-out infinite;
    transform: rotate(200deg)
}

@keyframes am {
    0% {
        transform: rotate(200deg) scaleY(1.1310462994)
    }

    33% {
        transform: rotate(200deg) scaleY(1.3652947257)
    }

    66% {
        transform: rotate(200deg) scaleY(1.1691342999)
    }

    to {
        transform: rotate(200deg) scaleY(1.1310462994)
    }
}

.an {
    animation: ao 1s ease-in-out infinite;
    transform: rotate(220deg)
}

@keyframes ao {
    0% {
        transform: rotate(220deg) scaleY(1.2602216836)
    }

    33% {
        transform: rotate(220deg) scaleY(1.5784571132)
    }

    66% {
        transform: rotate(220deg) scaleY(1.780413278)
    }

    to {
        transform: rotate(220deg) scaleY(1.2602216836)
    }
}

.ap {
    animation: aq 1s ease-in-out infinite;
    transform: rotate(240deg)
}

@keyframes aq {
    0% {
        transform: rotate(240deg) scaleY(1.5691584849)
    }

    33% {
        transform: rotate(240deg) scaleY(1.2188603277)
    }

    66% {
        transform: rotate(240deg) scaleY(1.9365151255)
    }

    to {
        transform: rotate(240deg) scaleY(1.5691584849)
    }
}

.ar {
    animation: as 1s ease-in-out infinite;
    transform: rotate(260deg)
}

@keyframes as {
    0% {
        transform: rotate(260deg) scaleY(1.4318393788)
    }

    33% {
        transform: rotate(260deg) scaleY(1.3960809755)
    }

    66% {
        transform: rotate(260deg) scaleY(1.067194832)
    }

    to {
        transform: rotate(260deg) scaleY(1.4318393788)
    }
}

.at {
    animation: au 1s ease-in-out infinite;
    transform: rotate(280deg)
}

@keyframes au {
    0% {
        transform: rotate(280deg) scaleY(1.4540463508)
    }

    33% {
        transform: rotate(280deg) scaleY(1.6593866066)
    }

    66% {
        transform: rotate(280deg) scaleY(1.4894108333)
    }

    to {
        transform: rotate(280deg) scaleY(1.4540463508)
    }
}

.av {
    animation: aw 1s ease-in-out infinite;
    transform: rotate(300deg)
}

@keyframes aw {
    0% {
        transform: rotate(300deg) scaleY(1.2231661004)
    }

    33% {
        transform: rotate(300deg) scaleY(1.3795059698)
    }

    66% {
        transform: rotate(300deg) scaleY(1.5837387803)
    }

    to {
        transform: rotate(300deg) scaleY(1.2231661004)
    }
}

.ax {
    animation: ay 1s ease-in-out infinite;
    transform: rotate(320deg)
}

@keyframes ay {
    0% {
        transform: rotate(320deg) scaleY(1.9422349904)
    }

    33% {
        transform: rotate(320deg) scaleY(1.7572911916)
    }

    66% {
        transform: rotate(320deg) scaleY(1.0054031841)
    }

    to {
        transform: rotate(320deg) scaleY(1.9422349904)
    }
}

.az {
    animation: aA 1s ease-in-out infinite;
    transform: rotate(340deg)
}

@keyframes aA {
    0% {
        transform: rotate(340deg) scaleY(1.3028798164)
    }

    33% {
        transform: rotate(340deg) scaleY(1.8578677378)
    }

    66% {
        transform: rotate(340deg) scaleY(1.7084419892)
    }

    to {
        transform: rotate(340deg) scaleY(1.3028798164)
    }
}

.aB {
    animation: aC 1s ease-in-out infinite;
    transform: rotate(1turn)
}

@keyframes aC {
    0% {
        transform: rotate(1turn) scaleY(1.2394303304)
    }

    33% {
        transform: rotate(1turn) scaleY(1.1477414313)
    }

    66% {
        transform: rotate(1turn) scaleY(1.1127961895)
    }

    to {
        transform: rotate(1turn) scaleY(1.2394303304)
    }
}

.cI {
    opacity: 0;
    transition: opacity .3s,visibility 0s .3s;
    visibility: hidden
}

.cI.cJ {
    opacity: 1;
    transition: opacity .3s,visibility 0s 0s;
    visibility: visible
}

@media(max-width: 760px) {
    .cI {
        display:none
    }
}

.cK,.cL {
    position: fixed;
    z-index: 100;
    bottom: 24px;
    left: 24px
}

.cK {
    width: 20vw;
    min-width: 226px;
    pointer-events: none
}

.cM,.cN {
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(53,53,53,.4);
    border-radius: 2px;
    opacity: 0;
    pointer-events: auto;
    transform: translateY(12px);
    transition: .6s;
    transition-property: transform,opacity,visibility;
    visibility: hidden
}

.cI.cJ:not(.cO) .cM,.cI.cJ:not(.cO) .cN {
    opacity: 1;
    transform: none;
    transition-duration: .3s;
    visibility: visible
}

.cM {
    z-index: 900;
    padding: 8px;
    transition-delay: .1s
}

.cM,.cP {
    margin-bottom: 8px
}

.cP {
    font-weight: 400;
    line-height: 1.2
}

.cQ {
    color: hsla(0,0%,100%,.3)
}

.cN,.cQ {
    font-size: 14px;
    line-height: 1.3
}

.cN {
    padding: 10px 16px 10px 10px
}

.cN,.cR {
    display: flex
}

.cR {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-left: 8px
}

.cR:before {
    content: url(/icons/drag.svg)
}

.cS {
    display: inline-block;
    opacity: 0;
    transition: .5s;
    transition-property: opacity,transform;
    white-space: nowrap
}

html[lang=tr] .cS {
    display: inline;
    white-space: normal
}

.cI.cJ .cS {
    opacity: 1
}

.cT {
    display: inline-block;
    opacity: 0;
    transition: .5s;
    transition-property: opacity,transform
}

.cI.cJ .cT {
    opacity: 1
}

.cL {
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(53,53,53,.4);
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    z-index: 10;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    border-radius: 2px;
    color: #fff;
    font-family: var(--font-basic);
    font-size: 16px;
    gap: 4px;
    transition: .4s;
    transition-property: background-color,color,border-color;
    white-space: nowrap;
    z-index: 100;
    width: 45px;
    height: 60px;
    border-radius: 4px;
    background-image: url(/icons/info-hint.svg);
    opacity: 0;
    pointer-events: auto;
    transform: none;
    transform-origin: left bottom;
    transition: .3s;
    transition-property: opacity,visibility;
    user-select: none;
    visibility: hidden;
}

@media(max-width: 760px) {
    .cL {
        height:32px
    }
}

.cL[disabled] {
    color: hsla(0,0%,100%,.3);
    pointer-events: none
}

@media(hover: hover)and (pointer:fine) {
    .cL:hover {
        background-color:hsla(0,0%,45%,.4)
    }
}

.cI.cO .cL {
    opacity: 1;
    transition-delay: .3s;
    visibility: visible
}

@font-face {
    font-display: swap;
    font-family: Troika;
    font-style: normal;
    font-weight: 400;
    src: url(/min/fonts/troika.otf) format("otf")
}

.co,.cp {
    display: block;
    width: 100%;
    height: 100%
}

.cp {
    position: relative;
    z-index: 10;
    outline: none;
    touch-action: none
}

.cq {
    opacity: 1;
    transition: opacity .3s,visibility 0s 0s;
    visibility: visible
}

@media(max-width: 760px) {
    .cr,.cs {
        display:none!important
    }
}

.ct,.cu {
    position: absolute;
    width: var(--width);
    height: var(--height);
    pointer-events: none;
    visibility: hidden
}

.ct {
    --min-height: calc(100vh / 3);
    --min-width: calc(100vw / 5);
    --height: max(var(--min-height),calc(1.3333 * var(--min-width)));
    --width: calc(var(--height) / 1.3333)
}

.cu,.cv,.cw {
    --height: min(calc(100vh - 200px),118vw);
    --width: calc(var(--height) / 1.3333)
}

@media(max-aspect-ratio: 3/4) {
    .cu,.cv,.cw {
        --width:calc(100vw - 60px);
        --height: calc(var(--width) * 1.3333)
    }
}

.cx {
    position: fixed;
    top: 56px;
    left: 0;
    display: flex;
    width: 100%;
    height: 32px;
    justify-content: space-between;
    padding: 0 24px
}

@media(min-width: 761px) {
    .cx {
        display:none
    }
}

.cA,.cy,.cz {
    display: flex;
    align-items: center;
    color: hsla(0,0%,100%,.38);
    font-size: 14px;
    white-space: nowrap
}

.cA:after {
    position: relative;
    top: 2px;
    width: 24px;
    height: 24px;
    margin-left: 4px;
    background: url(/icons/close-white.svg) no-repeat 50%;
    content: "";
    opacity: .3
}

@media(max-width: 359px) {
    .cA span,.cA:after {
        display:none
    }
}

.cw {
    top: calc(50% - var(--height)/2);
    left: calc(50% - var(--width)/2);
    border-radius: 5px;
    pointer-events: none
}

.cv,.cw {
    position: absolute;
    z-index: 90;
    width: var(--width);
    height: var(--height)
}

.cv {
    scrollbar-color: hsla(0,0%,100%,.15) transparent;
    top: 50%;
    left: 50%;
    padding: 24px;
    border: 1px solid #fff;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: auto;
    transform: translate(-50%,-50%);
    transition: opacity .3s,visibility 0s 0s;
}

.cv::-webkit-scrollbar {
    width: 10px
}

.cv::-webkit-scrollbar-track {
    background: transparent
}

.cv::-webkit-scrollbar-thumb {
    border: 1px solid hsla(0,0%,100%,.1);
    border-radius: 6px;
    background-color: hsla(0,0%,100%,.15);
    -webkit-transition: background .2s;
    transition: background .2s
}

.cv::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0,0%,100%,.25)
}

.cB {
    opacity: 0;
    transition: opacity .3s,visibility 0s .3s;
    visibility: hidden
}
